/* 
rgb(236, 235, 222)
rgb(193, 186, 161)
rgb(165, 157, 132)
rgb(215, 211, 191)
*/

:root{
    --bgIntro: rgb(18, 138, 251);
    --bgHeader: rgb(18, 138, 251);
    --bgBody: rgb(255, 255, 255);
    --text: rgb(255, 255, 255);
    --textDark: rgb(0, 0, 0);
    --footer: rgb(215, 211, 191);
    --search: rgb(245, 242, 229);
    --button: rgb(176, 210, 243);
}

#intro{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgIntro);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    animation: introBackground 3.4s 150ms cubic-bezier(0.74, 0.01, 0.16, 1.02);;
    transform: translate(0vh, 100vh);
}

#intro p{
    font-family: "Cal Sans", sans-serif;
    font-size: 6em;
    color: var(--text);
    animation: intro 4s 200ms cubic-bezier(0.74, 0.01, 0.16, 1.02);;
}

#Utext{
    animation: rightToLeft 3s 100ms ease-out;
}

#Btext{
    animation: leftToLeft 3s 100ms ease-out;
    position: relative;
    left: 4vw;
}

@keyframes upToDown {
    0% {
        transform: translate(0vh, -50vh);
    }

    40% {
        transform: translate(0vh, -50vh);
    }

    100% {
        transform: translate(0vh, 0vh);
    }
}


@keyframes rightToLeft {

    0% {
        transform: translate(100vw, 0vh);
    }

    60% {
        transform: translate(100vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes leftToLeft {

    0% {
        transform: translate(-100vw, 0vh);
    }

    60% {
        transform: translate(-100vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes introBackground {
    0% {
        transform: translate(0vh, 0vh);
    }

    70% {
        transform: translate(0vh, 0vh);
    }

    100% {
        transform: translate(0vh, 200vh);
    }
}

@keyframes intro {
    0% {
        transform: translate(0vw, 100vh) rotate(45deg);
    }

    50% {
        transform: translate(0vw, -5vh) rotate(0deg);
    }

    100% {
        transform: translate(0vw, 100vh) rotate(-70deg);
    }
}

/* @keyframes intro {
    0% {
        transform: scale(0) skew(40deg, -10deg);
        opacity: 1;
    }

    50% {
        transform: scale(1) skew(0deg, 0deg);
        opacity: 1;
    }

    75% {
        transform: scale(4) skew(0deg, 0deg);
        opacity: 0;
    }

    100% {
        transform: scale(10) skew(0deg, 89deg);
        opacity: 0;
    }
} */

/* @keyframes intro {
    0% {
        transform: translate(0vw, -100vh);
    }

    50% {
        transform: translate(0vw, 0vh);
    }

    75% {
        transform: translate(0vw, 0vh);
    }

    100% {
        transform: translate(0vw, 100vh);
    }
} */

header{
    display: flex;
    flex-direction: column;
    background-color: var(--bgHeader);
    margin: 0px;
    padding: 0px;
    height: 50vh;
    border-radius: 0px 0px 45px 45px;
    box-shadow: 0px 0px 80px rgb(133, 132, 111);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--bgBody);
    padding: 0px;
    margin: 0px;
}

#logoHolder p{
    position: relative;
    font-weight: 100;
    font-family: "Cal Sans", sans-serif;
    margin: 0px;
    font-size: 20vw;
    color: var(--text);
    white-space: nowrap;
    user-select: none;
    z-index: 0;
    overflow: hidden;
}

#logoHolder *{
    min-width: 25vh;
}

#logoHolder{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.logo{
    animation: upToDown 3.5s 50ms ease-out;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    position: relative;
    left: 0.4vw;
    top: 8vh;
    box-shadow: 0px 0px 40px 15px rgb(237, 237, 237);
}

.navBarBtn{
    position: relative;
    z-index: 2;
    font-family: "Cal Sans", sans-serif;
    width: 6vw;
    font-size: 1.2rem;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--bgHeader);
    transition: all 100ms ease-in-out;
    text-align: center;
}

.navBarBtn:hover{
    background-color: var(--bgBody);
    box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
    z-index: 3;
}

#navBar{
    position: fixed;
    width: 100vw;
    z-index: 4;
    display: flex;
    justify-content: center;
    padding: 1vh 1vh 1vh 1vh;
    display: inline-block;
    background-color: var(--bgHeader);
}

#navBar div{
    display: flex;
    justify-content: left;
}

#searchBarHolder{
    margin: 1vh 0vh 1vh 1vw;
}

#search{
    padding: 1em;
    background-color: var(--search);
    border-radius: 2vw 0vw 0vw 2vw;
    border: none;
    min-width: 40vw;
    font-family: "Cal Sans", sans-serif;
    color: rgb(100, 100, 100);
}

#search:active{
    border: 4px block black;
}

#submitBtn{
    font-family: "Cal Sans", sans-serif;
    color: var(--textDark);
    padding: 1em;
    background-color: var(--button);
    border-radius: 0vw 2vw 2vw 0vw;
    border: none;
}

#submitBtn:hover{
    background-color: rgb(231, 221, 179);
}


#categoriesGridHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#categoriesText{
    color: var(--text);
    margin: 15vh 0vw 5vh 0vh;
    font-size: 3rem;
    font-family: "Cal Sans", sans-serif;
}

#categoriesGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 2vw;
    justify-items: center;
    align-items: center;
}

.category{
    border-radius: 1rem;
    background-color: var(--bgIntro);
    width: 16vw;
    height: 40vh;
    scale: 100%;
    box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
    transition: 80ms ease-in-out;
}

.category:hover{
    scale: 102%;
    box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
}

footer{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--footer);
    border-radius: 45px 45px 0px 0px;
    margin: 15vh 0vw 0vh 0vw;
    box-shadow: 0px 0px 80px rgb(133, 132, 111);
}

.anchorHolder{
    display: flex;
    flex-direction: column;
}

.anchorHolder h4{

    font-family: "Cal Sans", sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    color: rgb(105, 105, 80);
}

.anchorHolder a{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(55, 55, 48);
}

.anchorHolder a:hover{
    text-decoration: underline;
}

.category{
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2em;
    font-family: "Cal Sans", sans-serif;
    color: var(--textDark);
}

.category *{
    font-size: 1.6vw;
    max-width: 80%;
}


/* products page */

header.productsPageHeader{
    height: 0vh;
}

#productsHolderFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10vh;
}

#productsHolder{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 85vw;
    gap: 3vh;
    margin: 10vh;
}

.product{
    background-color: var(--bgHeader);
    border-radius: 2vh;
    height: 35vh;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.product img{
    height: 35vh;
    border-radius: 2vh;
}

.productInfo{
    margin: 2vw;
    font-family: "Cal Sans", sans-serif;
    font-weight: 200;
}

.productName{
    font-size: 1.6em;
}

.addToCart{
    padding: 0.5vw;
    background-color: rgb(233, 226, 194);
    border: none;
}

.addToCart:hover{
    background-color: rgb(190, 184, 157);
}