/* 
rgb(236, 235, 222)
rgb(193, 186, 161)
rgb(165, 157, 132)
rgb(215, 211, 191)
*/

:root{
    --bgIntro: rgb(236, 235, 222);
    --bgHeader: rgb(215, 211, 191);
    --bgBody: rgb(216, 206, 178);
    --text: rgb(165, 157, 132);
    --textDark: rgb(0, 0, 0);
    --footer: rgb(215, 211, 191);
    --search: rgb(245, 242, 229);
    --button: rgb(243, 227, 176);
}

#intro{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgIntro);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    animation: introBackground 3.4s 150ms cubic-bezier(0.74, 0.01, 0.16, 1.02);;
    transform: translate(0vh, 100vh);
}

#intro p{
    font-family: "Cal Sans", sans-serif;
    font-size: 6em;
    color: var(--text);
    animation: intro 4s 200ms cubic-bezier(0.74, 0.01, 0.16, 1.02);;
}

#Utext{
    animation: rightToLeft 3s 100ms ease-out;
}

#Btext{
    animation: leftToLeft 3s 100ms ease-out;
    position: relative;
    left: 4vw;
}

@keyframes upToDown {
    0% {
        transform: translate(0vh, -50vh);
    }

    40% {
        transform: translate(0vh, -50vh);
    }

    100% {
        transform: translate(0vh, 0vh);
    }
}


@keyframes rightToLeft {

    0% {
        transform: translate(100vw, 0vh);
    }

    60% {
        transform: translate(100vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes leftToLeft {

    0% {
        transform: translate(-100vw, 0vh);
    }

    60% {
        transform: translate(-100vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}
/* 
@keyframes introBackground {
    0% {
        transform: translate(0vh, 0vh);
    }

    70% {
        transform: translate(0vh, 0vh);
    }

    100% {
        transform: translate(0vh, 200vh);
    }
}

@keyframes intro {
    0% {
        transform: translate(0vw, 100vh) rotate(45deg);
    }

    50% {
        transform: translate(0vw, -5vh) rotate(0deg);
    }

    100% {
        transform: translate(0vw, 100vh) rotate(-70deg);
    }
} */

header{
    display: flex;
    flex-direction: column;
    background-color: var(--bgHeader);
    margin: 0px;
    padding: 0px;
    height: auto;
    border-radius: 0vw 0vw 2vw 2vw;
    box-shadow: 0px 0px 80px rgb(125, 117, 90);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--bgBody);
    padding: 0px;
    margin: 0px;
}

.banner{
    width: 70vw;
    border-radius: 2vw;
}

.logo{
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    width: 15vw;
    box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
}

#logoHolder{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topSpaceFiller{
    min-height: 5vw;
}

#logoHolderFiller{
    padding: 2vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBarBtn{
    position: relative;
    z-index: 2;
    font-family: "Cal Sans", sans-serif;
    width: 6%;
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 1em;
    background-color: var(--bgHeader);
    transition: all 100ms ease-in-out;
    text-align: center;
}

.navBarBtn:hover{
    background-color: var(--bgBody);
    box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
    z-index: 3;
}

#logoText{
    flex: 1;
    text-align: right;
    font-size: 1.5vw;
    margin: 0vw 5vw 0vw 0vw;
    font-family: "Cal Sans", sans-serif;
    font-weight: 200;
}

.emptySpace{
    flex: 1;
}

#navBar{
    max-height: 4vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 4;
    display: flex;
    padding: 0.9vh;
    background-color: var(--bgHeader);
}

#navBar div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#searchBarHolder{
    flex: 1;
    display: flex;
    /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
}

#searchBarHolder *{
    font-size: 1.2vw;
}

#search{
    padding: 0.6vw;
    background-color: var(--search);
    border-radius: 2vw 0vw 0vw 2vw;
    border: none;
    min-width: 40vw;
    font-family: "Cal Sans", sans-serif;
    color: rgb(100, 100, 100);
}

#search:active{
    border: 4px block black;
}

#submitBtn{
    font-family: "Cal Sans", sans-serif;
    color: var(--textDark);
    padding: 0.6vw;
    background-color: var(--button);
    border-radius: 0vw 2vw 2vw 0vw;
    border: none;
}

#submitBtn:hover{
    background-color: rgb(231, 221, 179);
}


#categoriesGridHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#categoriesText{
    color: var(--text);
    margin: 5vh 0vw 5vh 0vh;
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
}

#categoriesGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 2vw;
    justify-items: center;
    align-items: center;
}

.category{
    border-radius: 1vw;
    background-color: var(--bgIntro);
    width: 16vw;
    height: 20vw;
    scale: 100%;
    box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
    transition: 80ms ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Cal Sans", sans-serif;
    color: var(--textDark);
    text-decoration: none;
}

.category:hover{
    scale: 102%;
    box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
}

.category img{
    max-width: 100%; 
}

.categoryHolder *{
    font-size: 1.3vw;
    font-weight: 100;
}

.categoryHolder data{
    font-weight: 500;
}

.categoryHolder p{
    font-weight: 600;
}

.categoryHolder data, p{
    margin: 0% 0% 0% 5%;
    align-self: flex-start;
}

.categoryHolder img{
    margin-bottom: 1vw;
}

.categoryHolder{
    font-family: "Montserrat", sans-serif;
    margin: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

footer{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--footer);
    border-radius: 45px 45px 0px 0px;
    margin: 15vh 0vw 0vh 0vw;
    box-shadow: 0px 0px 80px rgb(80, 74, 53);
}

.anchorHolder{
    display: flex;
    flex-direction: column;
}

.anchorHolder h4{

    font-family: "Cal Sans", sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    color: rgb(0, 0, 0);
}

.anchorHolder a{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(55, 55, 48);
}

.anchorHolder a:hover{
    text-decoration: underline;
}




/* Small devices (phones, portrait, less than 600px) */
@media (max-width: 600px) {

}

/* Medium devices (landscape phones / small tablets, 600px to 768px) */
@media (min-width: 600px) and (max-width: 768px) {

}

/* Tablets (portrait tablets, 768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Laptops (1024px to 1200px) */
@media (min-width: 1024px) and (max-width: 1200px) {

}

/* Desktops (1200px and up) */
@media (min-width: 1200px) {

}