/* 
rgb(236, 235, 222)
rgb(193, 186, 161)
rgb(165, 157, 132)
rgb(215, 211, 191)
*/

::selection {
    background: #bbb08b;   /* highlight color */
    color: #000;          /* text color */
}

:root{
    --bgIntro: rgb(236, 235, 222);
    --bgHeader: rgb(215, 211, 191);
    --bgBody: rgb(216, 206, 178);
    --text: rgb(165, 157, 132);
    --textDark: rgb(0, 0, 0);
    --footer: rgb(215, 211, 191);
    --search: rgb(245, 242, 229);
    --button: rgb(243, 227, 176);
}

#intro{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgIntro);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    animation: introBackground 3.4s 150ms cubic-bezier(0.74, 0.01, 0.16, 1.02);;
    transform: translate(0vh, 100vh);
}

#intro p{
    font-family: "Cal Sans", sans-serif;
    font-size: 6em;
    color: var(--text);
    animation: intro 4s 200ms cubic-bezier(0.74, 0.01, 0.16, 1.02);;
}

#Utext{
    animation: rightToLeft 3s 100ms ease-out;
}

#Btext{
    animation: leftToLeft 3s 100ms ease-out;
    position: relative;
    left: 4vw;
}

@keyframes upToDown {
    0% {
        transform: translate(0vh, -50vh);
    }

    40% {
        transform: translate(0vh, -50vh);
    }

    100% {
        transform: translate(0vh, 0vh);
    }
}


@keyframes rightToLeft {

    0% {
        transform: translate(100vw, 0vh);
    }

    60% {
        transform: translate(100vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes leftToLeft {

    0% {
        transform: translate(-100vw, 0vh);
    }

    60% {
        transform: translate(-100vw, 0vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}
/* 
@keyframes introBackground {
    0% {
        transform: translate(0vh, 0vh);
    }

    70% {
        transform: translate(0vh, 0vh);
    }

    100% {
        transform: translate(0vh, 200vh);
    }
}

@keyframes intro {
    0% {
        transform: translate(0vw, 100vh) rotate(45deg);
    }

    50% {
        transform: translate(0vw, -5vh) rotate(0deg);
    }

    100% {
        transform: translate(0vw, 100vh) rotate(-70deg);
    }
} */

header{
    display: flex;
    flex-direction: column;
    background-color: var(--bgHeader);
    margin: 0px;
    padding: 0px;
    height: auto;
    border-radius: 0vw 0vw 2vw 2vw;
    box-shadow: 0px 0px 80px rgb(125, 117, 90);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--bgBody);
    padding: 0px;
    margin: 0px;
}

.banner{
    width: 70vw;
    border-radius: 2vw;
}

.logo{
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    width: 15vw;
    box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
}

#logoHolder{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topSpaceFiller{
    min-height: 4vw;
}

#logoHolderFiller{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBarBtn{
    position: relative;
    z-index: 2;
    font-family: "Cal Sans", sans-serif;
    width: 6%;
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 1em;
    background-color: var(--bgHeader);
    transition: all 100ms ease-in-out;
    text-align: center;
}

.navBarBtn:hover{
    background-color: var(--bgBody);
    box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
    z-index: 3;
}

#logoText{
    flex: 1;
    text-align: right;
    font-size: 1.5vw;
    margin: 0vw 5vw 0vw 0vw;
    font-family: "Cal Sans", sans-serif;
    font-weight: 200;
}

.emptySpace{
    flex: 1;
}

#navBar{
    max-height: 4vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 4;
    display: flex;
    padding: 0.9vh;
    background-color: var(--bgHeader);
}

#navBar div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#searchBarHolder{
    flex: 1;
    display: flex;
    /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
}

#searchBarHolder *{
    font-size: 1.2vw;
}

#search{
    padding: 0.6vw;
    background-color: var(--search);
    border-radius: 2vw 0vw 0vw 2vw;
    border: none;
    min-width: 40vw;
    font-family: "Cal Sans", sans-serif;
    color: rgb(100, 100, 100);
}

#search:active{
    border: 4px block black;
}

#submitBtn{
    font-family: "Cal Sans", sans-serif;
    color: var(--textDark);
    padding: 0.6vw;
    background-color: var(--button);
    border-radius: 0vw 2vw 2vw 0vw;
    border: none;
}

#submitBtn:hover{
    background-color: rgb(231, 221, 179);
}


#categoriesGridHolder{
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#categoriesText{
    color: var(--text);
    margin: 4vw 0vw 4vw 0vh;
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
}

#categoriesGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 2vw;
    justify-items: center;
    align-items: center;
}

.category{
    border-radius: 1vw;
    background-color: var(--bgIntro);
    width: auto;
    height: auto;
    scale: 100%;
    box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
    transition: 80ms ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Cal Sans", sans-serif;
    color: var(--textDark);
    text-decoration: none;
}

.category:hover{
    scale: 102%;
    box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
}

.category img{
    max-width: 100%; 
}

.categoryHolder *{
    font-size: 1.3vw;
    font-weight: 100;
}

.categoryHolder data{
    font-weight: 500;
}

.categoryHolder p{
    font-weight: 600;
}

.categoryHolder data, p{
    margin: 0% 0% 0% 5%;
    align-self: flex-start;
}

.categoryHolder img{
    margin-bottom: 1vw;
}

.categoryHolder{
    font-family: "Montserrat", sans-serif;
    margin: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

footer{
    min-height: auto;
    padding-bottom: 20vw;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--footer);
    border-radius: 2vw 2vw 0px 0px;
    margin: 8vw 0vw 0vh 0vw;
    box-shadow: 0px 0px 80px rgb(80, 74, 53);
}

.anchorHolder{
    display: flex;
    flex-direction: column;
}

.anchorHolder h4{

    font-family: "Cal Sans", sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    color: rgb(0, 0, 0);
}

.anchorHolder a{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    text-decoration: none;
    color: rgb(55, 55, 48);
}

.anchorHolder a:hover{
    text-decoration: underline;
}

#product-flexHolderAligner{
    display: flex;
    flex-direction: column;
    margin: 0vw 3vw 0vw 3vw;
    font-family: "Montserrat", sans-serif;
}

#product-flexHolderEmptySpace{
    width: calc(100% - 5vw);
    padding: 2.5vw;
}

#product-flexHolder{
    display: flex;
    flex-direction: row;
}

.product-flexChild{
    width: 50%;
    height: auto;
}

.product-imgHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

 .product-rightFlex{
    position: relative;
 }

#product-rightFlexChild{
    position: sticky !important;
    top: 5vw !important;
    padding: 4vw;
}

#product-rightFlexChild h2{
    font-size: 3vw;
    margin: 0px 0px 2vw 0px;
}

#product-rightFlexChild data{
    font-size: 2vw;
}

#product-rightFlexChild p{
    margin: 0px;
    font-size: 0.9vw;
}

#product-rightFlexChild #product-buy{
    background-color: rgb(37, 211, 102);
    border: 0.2vw solid transparent;
    height: auto;
    width: 80%;
    padding: 1vw;
    margin: 4vw 2vw 0.5vw 2vw;
    border-radius: 9999999px;
    font-size: 1.2vw;
    transition: all 100ms;
}

#product-rightFlexChild #product-buy:hover{
    background-color: transparent;
    border: rgb(37, 211, 102) 0.2vw solid;
}

#product-rightFlexChild #product-buy:active{
    transform: scale(102%);
}

#product-rightFlexChild #product-share{
    background-color: rgb(0, 0, 0);
    border: 0.2vw solid transparent;
    height: auto;
    width: 80%;
    padding: 1vw;
    margin: 0.5vw 2vw 4vw 2vw;
    border-radius: 9999999px;
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    transition: all 100ms;
}

#product-rightFlexChild #product-share:hover{
    background-color: transparent;
    border: rgb(0, 0, 0) 0.2vw solid;
    color: rgb(0, 0, 0);
}

#product-rightFlexChild #product-share:active{
    transform: scale(102%);
}

#product-rightFlexChild p:last-child{
    font-size: 1.5vw;
}


/* Small devices (phones, portrait, less than 600px) */
@media (max-width: 600px) {

    header{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        height: auto;
        border-radius: 0vw 0vw 2vw 2vw;
        box-shadow: 0px 0px 80px rgb(125, 117, 90);
    }

    body{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .banner{
        margin: 1vw;
        width: 90vw;
        border-radius: 2vw;
    }

    .logo{
        display: none;
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
        width: 14vw;
        box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
    }

    #logoText{
        flex: 1;
        text-align: right;
        font-size: 2.8vw;
        margin: 0vw 5vw 0vw 0vw;
        font-weight: 200;
    }


    #logoHolder{
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #topSpaceFiller{
        min-height:7vw;
    }

    #logoHolderFiller{
        padding: 1.5vw;
        width: calc(100% - 3vw);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navBarBtn{
        position: relative;
        z-index: 2;
        width: 6%;
        font-size: 1.2vw;
        padding: 1vw;
        border-radius: 1em;
        transition: all 100ms ease-in-out;
        text-align: center;
    }

    .navBarBtn:hover{
        box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
        z-index: 3;
    }

    .emptySpace{
        flex: 1;
    }

    #navBar{
        max-height: 4vw;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100vw;
        z-index: 4;
        display: flex;
        padding: 2vw;
    }

    #navBar div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #searchBarHolder{
        flex: 1;
        display: flex;
        /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
    }

    #searchBarHolder *{
        font-size: 2.5vw;
    }

    #search{
        padding: 1.3vw;
        border-radius: 2vw 0vw 0vw 2vw;
        border: none;
        min-width: 40vw;
    }

    #search:active{
        border: 4px block black;
    }

    #submitBtn{
        padding: 1.3vw;
        border-radius: 0vw 2vw 2vw 0vw;
        border: none;
    }

    #categoriesGridHolder{
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #categoriesText{
        margin: 4vw 0vw 4vw 0vh;
        font-size: 4vw;
    }

    #categoriesGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2vw;
        justify-items: center;
        align-items: center;
    }

    .category{
        border-radius: 1vw;
        width: auto;
        height: auto;
        scale: 100%;
        box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
        transition: 80ms ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category:hover{
        scale: 102%;
        box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
    }

    .category img{
        max-width: 100%; 
    }

    .categoryHolder *{
        font-size: 2.8vw;
        font-weight: 100;
    }

    .categoryHolder data{
        font-weight: 500;
    }

    .categoryHolder p{
        font-weight: 600;
    }

    .categoryHolder data, p{
        margin: 0% 0% 0% 5%;
        align-self: flex-start;
    }

    .categoryHolder img{
        margin-bottom: 1vw;
    }

    .categoryHolder{
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer{
        min-height: auto;
        padding-bottom: 20vw;
        display: flex;
        justify-content: space-evenly;
        border-radius: 2vw 2vw 0px 0px;
        margin: 8vw 0vw 0vh 0vw;
        box-shadow: 0px 0px 80px rgb(80, 74, 53);
    }

    .anchorHolder{
        display: flex;
        flex-direction: column;
    }

    .anchorHolder h4{
        font-weight: 600;
        font-size: 2.8vw;
    }

    .anchorHolder a{
        font-weight: 400;
        font-size: 2.6vw;
    }


}

/* Medium devices (landscape phones / small tablets, 600px to 768px) */
@media (min-width: 600px) and (max-width: 768px) {
z
    header{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        height: auto;
        border-radius: 0vw 0vw 2vw 2vw;
        box-shadow: 0px 0px 80px rgb(125, 117, 90);
    }

    body{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .banner{
        margin: 1vw;
        width: 90vw;
        border-radius: 2vw;
    }

    .logo{
        display: none;
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
        width: 14vw;
        box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
    }

    #logoText{
        flex: 1;
        text-align: right;
        font-size: 2.8vw;
        margin: 0vw 5vw 0vw 0vw;
        font-weight: 200;
    }


    #logoHolder{
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #topSpaceFiller{
        min-height:7vw;
    }

    #logoHolderFiller{
        padding: 1.5vw;
        width: calc(100% - 3vw);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navBarBtn{
        position: relative;
        z-index: 2;
        width: 6%;
        font-size: 1.2vw;
        padding: 1vw;
        border-radius: 1em;
        transition: all 100ms ease-in-out;
        text-align: center;
    }

    .navBarBtn:hover{
        box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
        z-index: 3;
    }

    .emptySpace{
        flex: 1;
    }

    #navBar{
        max-height: 4vw;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 4;
        display: flex;
        padding: 2vw;
    }

    #navBar div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #searchBarHolder{
        flex: 1;
        display: flex;
        /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
    }

    #searchBarHolder *{
        font-size: 2.5vw;
    }

    #search{
        padding: 1.3vw;
        border-radius: 2vw 0vw 0vw 2vw;
        border: none;
        min-width: 40vw;
    }

    #search:active{
        border: 4px block black;
    }

    #submitBtn{
        padding: 1.3vw;
        border-radius: 0vw 2vw 2vw 0vw;
        border: none;
    }

    #categoriesGridHolder{
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #categoriesText{
        margin: 4vw 0vw 4vw 0vh;
        font-size: 4vw;
    }

    #categoriesGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2vw;
        justify-items: center;
        align-items: center;
    }

    .category{
        border-radius: 1vw;
        width: auto;
        height: auto;
        scale: 100%;
        box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
        transition: 80ms ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category:hover{
        scale: 102%;
        box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
    }

    .category img{
        max-width: 100%; 
    }

    .categoryHolder *{
        font-size: 2.2vw;
        font-weight: 100;
    }

    .categoryHolder data{
        font-weight: 500;
    }

    .categoryHolder p{
        font-weight: 600;
    }

    .categoryHolder data, p{
        margin: 0% 0% 0% 5%;
        align-self: flex-start;
    }

    .categoryHolder img{
        margin-bottom: 1vw;
    }

    .categoryHolder{
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer{
        min-height: auto;
        padding-bottom: 20vw;
        display: flex;
        justify-content: space-evenly;
        border-radius: 2vw 2vw 0px 0px;
        margin: 8vw 0vw 0vh 0vw;
        box-shadow: 0px 0px 80px rgb(80, 74, 53);
    }

    .anchorHolder{
        display: flex;
        flex-direction: column;
    }

    .anchorHolder h4{
        font-weight: 600;
        font-size: 2.8vw;
    }

    .anchorHolder a{
        font-weight: 400;
        font-size: 2.6vw;
    }

}

/* Tablets (portrait tablets, 768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    header{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        height: auto;
        border-radius: 0vw 0vw 2vw 2vw;
        box-shadow: 0px 0px 80px rgb(125, 117, 90);
    }

    body{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .banner{
        margin: 1vw;
        width: 90vw;
        border-radius: 2vw;
    }

    .logo{
        display: none;
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
        width: 14vw;
        box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
    }

    #logoText{
        flex: 1;
        text-align: right;
        font-size: 2.8vw;
        margin: 0vw 5vw 0vw 0vw;
        font-weight: 200;
    }


    #logoHolder{
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #topSpaceFiller{
        min-height:7vw;
    }

    #logoHolderFiller{
        padding: 1.5vw;
        width: calc(100% - 3vw);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navBarBtn{
        position: relative;
        z-index: 2;
        width: 6%;
        font-size: 1.2vw;
        padding: 1vw;
        border-radius: 1em;
        transition: all 100ms ease-in-out;
        text-align: center;
    }

    .navBarBtn:hover{
        box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
        z-index: 3;
    }

    .emptySpace{
        flex: 1;
    }

    #navBar{
        max-height: 4vw;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 4;
        display: flex;
        padding: 1.5vw;
    }

    #navBar div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #searchBarHolder{
        flex: 1;
        display: flex;
        /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
    }

    #searchBarHolder *{
        font-size: 2.2vw;
    }

    #search{
        padding: 1.3vw;
        border-radius: 2vw 0vw 0vw 2vw;
        border: none;
        min-width: 40vw;
    }

    #search:active{
        border: 4px block black;
    }

    #submitBtn{
        padding: 1.3vw;
        border-radius: 0vw 2vw 2vw 0vw;
        border: none;
    }

    #categoriesGridHolder{
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #categoriesText{
        margin: 4vw 0vw 4vw 0vh;
        font-size: 4vw;
    }

    #categoriesGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2vw;
        justify-items: center;
        align-items: center;
    }

    .category{
        border-radius: 1vw;
        width: auto;
        height: auto;
        scale: 100%;
        box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
        transition: 80ms ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category:hover{
        scale: 102%;
        box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
    }

    /* .category img{
        max-width: 100%; 
    } */

    .categoryHolder *{
        font-size: 2.2vw;
        font-weight: 100;
    }

    .categoryHolder data{
        font-weight: 500;
    }

    .categoryHolder p{
        font-weight: 600;
    }

    .categoryHolder data, p{
        margin: 0% 0% 0% 5%;
        align-self: flex-start;
    }

    .categoryHolder img{
        margin-bottom: 1vw;
    }

    .categoryHolder{
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer{
        min-height: auto;
        padding-bottom: 20vw;
        display: flex;
        justify-content: space-evenly;
        border-radius: 2vw 2vw 0px 0px;
        margin: 8vw 0vw 0vh 0vw;
        box-shadow: 0px 0px 80px rgb(80, 74, 53);
    }

    .anchorHolder{
        display: flex;
        flex-direction: column;
    }

    .anchorHolder h4{
        font-weight: 600;
        font-size: 2.8vw;
    }

    .anchorHolder a{
        font-weight: 400;
        font-size: 2.6vw;
    }

}

/* Laptops (1024px to 1200px) */
@media (min-width: 1024px) and (max-width: 1200px) {

    header{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        height: auto;
        border-radius: 0vw 0vw 2vw 2vw;
        box-shadow: 0px 0px 80px rgb(125, 117, 90);
    }

    body{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .banner{
        margin: 1vw;
        width: 70vw;
        border-radius: 2vw;
    }

    .logo{
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
        width: 14vw;
        box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
    }

    #logoText{
        flex: 1;
        text-align: right;
        font-size: 2vw;
        margin: 0vw 5vw 0vw 0vw;
        font-weight: 200;
    }


    #logoHolder{
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #topSpaceFiller{
        min-height:4vw;
    }

    #logoHolderFiller{
        padding: 1.5vw;
        width: calc(100% - 3vw);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navBarBtn{
        position: relative;
        z-index: 2;
        width: 6%;
        font-size: 1.2vw;
        padding: 1vw;
        border-radius: 1em;
        transition: all 100ms ease-in-out;
        text-align: center;
    }

    .navBarBtn:hover{
        box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
        z-index: 3;
    }

    .emptySpace{
        flex: 1;
    }

    #navBar{
        max-height: 3vw;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 4;
        display: flex;
        padding: 1.2vw;
    }

    #navBar div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #searchBarHolder{
        flex: 1;
        display: flex;
        /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
    }

    #searchBarHolder *{
        font-size: 1.4vw;
    }

    #search{
        padding: 1vw;
        border-radius: 2vw 0vw 0vw 2vw;
        border: none;
        min-width: 50vw;
    }

    #search:active{
        border: 4px block black;
    }

    #submitBtn{
        padding: 1vw;
        border-radius: 0vw 2vw 2vw 0vw;
        border: none;
    }

    #categoriesGridHolder{
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #categoriesText{
        margin: 2vw 0vw 2vw 0vh;
        font-size: 3vw;
    }

    #categoriesGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2vw;
        justify-items: center;
        align-items: center;
    }

    .category{
        border-radius: 1vw;
        width: auto;
        height: auto;
        scale: 100%;
        box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
        transition: 80ms ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category:hover{
        scale: 102%;
        box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
    }

    /* .category img{
        max-width: 100%; 
    } */

    .categoryHolder *{
        font-size: 1.6vw;
        font-weight: 100;
    }

    .categoryHolder data{
        font-weight: 500;
    }

    .categoryHolder p{
        font-weight: 600;
    }

    .categoryHolder data, p{
        margin: 0% 0% 0% 5%;
        align-self: flex-start;
    }

    .categoryHolder img{
        margin-bottom: 1vw;
    }

    .categoryHolder{
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer{
        min-height: auto;
        padding-bottom: 10vw;
        display: flex;
        justify-content: space-evenly;
        border-radius: 2vw 2vw 0px 0px;
        margin: 4vw 0vw 0vh 0vw;
        box-shadow: 0px 0px 80px rgb(80, 74, 53);
    }

    .anchorHolder{
        display: flex;
        flex-direction: column;
    }

    .anchorHolder h4{
        font-weight: 600;
        font-size: 1.8vw;
    }

    .anchorHolder a{
        font-weight: 400;
        font-size: 1.6vw;
    }

}

/* Desktops (1200px and up) */
@media (min-width: 1200px) {

    header{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        height: auto;
        border-radius: 0vw 0vw 2vw 2vw;
        box-shadow: 0px 0px 80px rgb(125, 117, 90);
    }

    body{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .banner{
        margin: 1vw;
        width: 70vw;
        border-radius: 2vw;
    }

    .logo{
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
        width: 14vw;
        box-shadow: 0px 0px 40px 15px rgb(120, 120, 106);
    }

    #logoText{
        flex: 1;
        text-align: right;
        font-size: 2vw;
        margin: 0vw 5vw 0vw 0vw;
        font-weight: 200;
    }


    #logoHolder{
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #topSpaceFiller{
        min-height:4vw;
    }

    #logoHolderFiller{
        padding: 1.5vw;
        width: calc(100% - 3vw);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navBarBtn{
        position: relative;
        z-index: 2;
        width: 6%;
        font-size: 1.2vw;
        padding: 1vw;
        border-radius: 1em;
        transition: all 100ms ease-in-out;
        text-align: center;
    }

    .navBarBtn:hover{
        box-shadow: 0px 0px 60px 2px rgb(187, 184, 167);
        z-index: 3;
    }

    .emptySpace{
        flex: 1;
    }

    #navBar{
        max-height: auto;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 4;
        display: flex;
        padding: 0.5vw;
    }

    #navBar div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #searchBarHolder{
        flex: 1;
        display: flex;
        /* margin: 0.5vw 0vw 0.5vw 0.5vw; */
    }

    #searchBarHolder *{
        font-size: 1vw;
    }

    #search{
        padding: 0.8vw;
        border-radius: 2vw 0vw 0vw 2vw;
        border: none;
        min-width: 50vw;
    }

    #search:active{
        border: 4px block black;
    }

    #submitBtn{
        padding: 0.8vw;
        border-radius: 0vw 2vw 2vw 0vw;
        border: none;
    }

    #categoriesGridHolder{
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #categoriesText{
        margin: 2vw 0vw 2vw 0vh;
        font-size: 3vw;
    }

    #categoriesGrid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 2vw;
        justify-items: center;
        align-items: center;
    }

    .category{
        border-radius: 1vw;
        width: auto;
        height: auto;
        scale: 100%;
        box-shadow: 0px 0px 0px 0px rgb(175, 174, 147);
        transition: 80ms ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .category:hover{
        scale: 102%;
        box-shadow: 0px 0px 10px 5px rgb(175, 174, 147);
    }

    /* .category img{
        max-width: 100%; 
    } */

    .categoryHolder *{
        font-size: 1.4vw;
        font-weight: 100;
    }

    .categoryHolder data{
        font-weight: 500;
    }

    .categoryHolder p{
        font-weight: 600;
    }

    .categoryHolder data, p{
        margin: 0% 0% 0% 5%;
        align-self: flex-start;
    }

    .categoryHolder img{
        margin-bottom: 1vw;
    }

    .categoryHolder{
        margin: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer{
        min-height: auto;
        padding-bottom: 10vw;
        display: flex;
        justify-content: space-evenly;
        border-radius: 2vw 2vw 0px 0px;
        margin: 4vw 0vw 0vh 0vw;
        box-shadow: 0px 0px 80px rgb(80, 74, 53);
    }

    .anchorHolder{
        display: flex;
        flex-direction: column;
    }

    .anchorHolder h4{
        font-weight: 600;
        font-size: 1.4vw;
    }

    .anchorHolder a{
        font-weight: 400;
        font-size: 1.2vw;
    }

}